{% extends 'base.html' %}

{% block header %}
<div class="container">
  <h1>{% block title %}Update your review{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <form method="post">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Your Mean Review:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review-text">{{ review['content'] }}</textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
{% endblock %}
