<!doctype html>
<title>{% block title %}{% endblock %} - Mean Review Collector</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">

<nav class="navbar navbar-default">
  <div class="navbar-collapse collapse">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mean Review Collector</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('register') }}">Register</a></li>
      <li><a href="{{ url_for('login') }}">Login</a></li>
    </ul>
  </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
