{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Mean Reviews{% endblock %}</h1>
{% endblock %}

{% block content %}
  <blockquote>
    This paper is more appropriate for a speciality journal. Like, one that
    specializes in terrible papers. -From @thirdreviewer
  </blockquote>
  <blockquote>
    Before I can recommend acceptance, I request the following 272 changes
        to the manuscript. - From @thirdreviewer
  </blockquote>
  <blockquote>
    Let me begin by apologizing for being so late with this review – it took me
    much longer than expected to figure out how best to insult all the authors.
    - From @thirdreviewer
  </blockquote>
{% endblock %}
